name: Release

permissions:
  contents: write
  pull-requests: write

on:
  # workflow_dispatch:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish-release:
    name: Publish release to crates.io
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: dtolnay/rust-toolchain@stable
    - name: Log in to crates.io
      run: |-
        echo "${{ secrets.CARGO_TOKEN }}" | cargo login
    - name: Publish to crates.io
      run: cargo publish
